
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPageHF.cshtml";
    <style>
        .paragraph {
            text-align: justify;
            text-indent: 30px;
        }
    </style>
}

<div class="me-5 ms-5 mt-3">
    <p class="paragraph">Bệnh tiểu đường hay còn gọi là đái tháo đường, là tình trạng rối loạn chuyển hóa carbonhydrate làm suy giảm quá trình chuyển thức ăn thành năng lượng phục vụ cơ thể. Hầu hết các loại thực phẩm quý khách ăn vào đều được tiêu hóa, trong đó một phần thức ăn sẽ chuyển thành đường và được hấp thụ vào máu. Insulin tiết ra từ tuyến tụy của bạn sẽ giúp lượng đường trong máu chuyển thành năng lương nuôi các tế bào của cơ thể. Bệnh tiểu đường xảy ra khi lượng đường trong máu của bạn trở nên quá cao. Nguyên nhân là do cơ thể quý khách không sản xuất đủ insulin hoặc insulin trong cơ thể hoạt động không hiệu quả.</p>
    <span style="font-size:24px;">Một số triệu chứng thường gặp của bệnh tiểu đường:</span>
    <ul>
        <li>Đi tiểu thường xuyên</li>
        <li>Cảm thấy rất đói - mặc dù bạn ăn uống đầy đủ và thậm chí có thể đang giảm cân.</li>
        <li>Mệt mỏi quá mức và không thường xuyên</li>
        <li>Có lượng đường trong máu lúc đói hơn 100 mg / dl (5.6 mmol/l)</li>
    </ul>
    <span style="font-size:24px;">Dưới đây là những nguyên tắc chung của chế độ ăn cho người bị tiểu đường:</span>
    <p style="font-weight:bold; margin-bottom:0">Quý khách nên tránh hoặc hạn chế:</p>
    <ul>
        <li>Đồ ngọt, chẳng hạn như đường, mứt, kẹo, trái cây ngọt, trái cây sấy khô với bất kỳ thực phẩm nào có thêm đường (đặc biệt là đường nguyên chất, thực phẩm đã qua chế biến), v.v</li>
        <li>Đồ uống có thêm đường, chẳng hạn như nước ngọt, nước tăng lực, v.v</li>
        <li>Natri, thức ăn có nhiều muối</li>
        <li>Chất béo bão hòa, thực phẩm chuyển hóa chất béo và thực phẩm chiên</li>
        <li>Bạn nên ăn 2 bát cơm trong mỗi bữa ăn chính</li>
        <li>Không ăn quá no: bạn nên chia các bữa ăn chính thành nhiều bữa nhỏ hơn, thường xuyên hơn. Ví dụ, bạn không nên ăn tráng miệng ngay sau khi ăn chính mà phải đợi đến giữa buổi sáng hoặc buổi chiều, chẳng hạn như 10h sáng hoặc 3-4h chiều</li>
    </ul>
    <p style="font-weight:bold; margin-bottom:0">Quý khách nên ăn:</p>
    <ul>
        <li>Thực phẩm giàu chất xơ: rau xanh, trái cây tươi, v.v</li>
        <li>Vitamin, đặc biệt là vitamin nhóm B</li>
        <li>Carbohydrate lành mạnh: ngũ cốc nguyên hạt, các sản phẩm từ sữa ít béo. Tuy nhiên, bạn nên dùng sữa không đường hoặc ít đường, ít béo (khoảng 200 ml / ngày)</li>
        <li>Cá</li>
        <li>Ưu tiên thực phẩm luộc và hấp</li>
        <li>Không bỏ bữa</li>
        <li>Nếu quý khách đang được điều trị bằng insulin tác dụng chậm, quý khách có thể bị hạ đường huyết trong đêm; do đó, quý khách nên ăn một chút đồ ăn nhẹ trước khi đi ngủ</li>
    </ul>
    <p class="paragraph">Không chỉ vậy, việc tập luyện thể dục giúp quý khách chống lại bệnh tật. Các bài tập phù hợp sẽ mang lại tác động tốt cho tim mạch, dễ dàng để kiểm soát đường máu. Nếu không bị hạn chế di chuyển do tăng huyết áp, phù nề, bệnh mạch vành, … thì bạn có thể chọn đi bộ, đạp xe đạp, bơi lội, … mỗi tuần ít nhật 4-5 tiếng, 30 phút mỗi lần tập. Quý khách nên tránh các hoạt động đòi hỏi cường độ và sức chịu đựng.</p>
    <p class="paragraph">Việc theo dõi sức khỏe thường xuyên với bác sĩ chuyên khoa đóng vai trò rất quan trọng. Bên cạnh thăm khám với bác sĩ nội tiết, quý khách nên kiểm tra mắt với bác sĩ chuyên khoa mắt hàng năm, theo dõi và kiểm soát huyết áp của mình.</p>
</div>

