@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPageHF.cshtml";
    <script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>

}
@{ 
    string maxResult = ViewBag.maxResult;
    string minResult = ViewBag.minResult;
    string avgResult = ViewBag.avgResult;
}

<div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
<script>
    var trace1 = {
        x: ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age'],
        y: @minResult,
        name: 'Min',
        type: 'bar',
        text: (@minResult).map(String)
    };

    var trace2 = {
        x: ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age'],
        y: @avgResult,
        name: 'Average',
        type: 'bar',
        text: (@avgResult).map(String)
    };

    var trace3 = {
        x: ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age'],
        y: @maxResult,
        name: 'Max',
        type: 'bar',
        text: (@maxResult).map(String)
    };

    var data = [trace1, trace2, trace3];

    var layout = { barmode: 'group' };

    Plotly.newPlot('myDiv', data, layout);

</script>