
--select * from tbl_diabetes
--drop table tbl_diabetes

CREATE TABLE [dbo].[tbl_diabetes](
	[Pregnancies] float NULL,
	[Glucose] float NULL,
	[BloodPressure] float NULL,
	[SkinThickness] float NULL,
	[Insulin] float NULL,
	[BMI] float NULL,
	[DiabetesPedigreeFunction] float NULL,
	[Age] float NULL,
	[Outcome] float NULL
) ON [PRIMARY]

GO
INSERT [dbo].[tbl_diabetes] ([Pregnancies], [Glucose], [BloodPressure], [SkinThickness], [Insulin], [BMI], [DiabetesPedigreeFunction], [Age], [Outcome]) VALUES (6, 148, 72, 35, 0, 33.6, 0.627, 50, 1)
INSERT [dbo].[tbl_diabetes] ([Pregnancies], [Glucose], [BloodPressure], [SkinThickness], [Insulin], [BMI], [DiabetesPedigreeFunction], [Age], [Outcome]) VALUES (1, 85, 66, 29, 0, 26.6, 0.351, 31, 0)
INSERT [dbo].[tbl_diabetes] ([Pregnancies], [Glucose], [BloodPressure], [SkinThickness], [Insulin], [BMI], [DiabetesPedigreeFunction], [Age], [Outcome]) VALUES (8, 183, 64, 0, 0, 23.3, 0.672, 32, 1)
GO

